{% extends 'base.html' %}
<title>Sentimen Analisis</title>


{% block content %}
<div class="container fluid">
    <div class="justify-center">
        <br>
        <h1 class="text-center">ABSTRAK</h1>
        <br>
        <div class="mx-50">
            <p class="text-md-center">
                Analisis sentimen merupakan proses penentuan opini publik. Dalam penelitian yang dilakukan opini publik yang didapatkan diambil dari Twiiter. Opini publik yang diambil membahas tentang vaksinasi Covid. Opini publik akan diklasifikasikan menjadi dua bagian yaitu opini positif dan opini negatif. Opini yang diambil melalui twitter diambil menggunakan bahasa Indonesia. Pemodelan yang dilakukan untuk mengambil akurasi dari analisis sentimen menggunakan algoritma Random Forest, Naive Bayes, dan Support Vector Machine. Ketiga algoritma digabungkan menggunakan ensemble stacking.
            </p>
        </div>
    </div>
</div>

{% endblock content %}
